/* 
    Document   : style
    Created on : 05-May-2011, 00:07:25
    Author     : Bc. Martin Bortel <martin.bortel(at)gmail.com>
    Description:
*/

html, body{
    background: #ffffff; 
    font-family: Ubuntu, Arial, Verdana;
    font-size: 10px;
}

table {font-size: 10px;}
table tr { vertical-align: top; }
table tr td,
table tr td p.td_header{ padding: 0 10px; line-height: 8px; margin:5px;}
table tr td p.td_header{ font-weight: bold;}

.center{padding: 10px 50px; margin: 150px auto; width: 925px; text-align: center; border:0px solid;}
.success{color: green;}
.error{color: #FF0000;}

#map_canvas{margin: auto; width: 1050px; height: 450px;}

table tbody tr td{padding:2px 2px 2px 15px; text-align:left; border:none; line-height: 10px; border:none;}
table tbody tr td.right{text-align: right;}
table tbody tr td.center{text-align: center;}
table tbody tr td.left_lb{width: 150px; text-align: right;}

input{color: #000; background: #fff; width: 250px; border: 1px solid black;}
input.short{width:50px;}
input.radiobutton{width: 10px;}
input[type='submit']{color: #fff; background: #000; width: 100px; border: none;}

div.addons{margin: 20px 0 0 0; padding: 15px 20px; background: #212121; color: #ffffff;}
span.error{color: red;}

div#Overlay{position: absolute; top:0; left:0; height: 100%; width: 100%; display:none; background: #000; z-index: 100; border:1px solid;}
div#Overlay h1{ margin: 200px auto 0 auto; text-align: center; width: 350px; color: #fff;}
div#Overlay img{ display: block; margin: 20px auto; }

.transparent {
        /* Required for IE 5, 6, 7 */
        /* ...or something to trigger hasLayout, like zoom: 1; */
        width: 100%; 

        /* Theoretically for IE 8 & 9 (more valid) */
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=90);

        /* Older than Firefox 0.9 */
        -moz-opacity:0.9;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.9;

        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.9;
}